<ion-header>
  <ion-toolbar>
    <ion-title>
      {{myLot}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color='muteblue'>
            {{myLot.average}}% full
          </ion-text> 
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <form>
            <ion-label class="ion-text-wrap">      
                Help us provide the most accurate data possible, how full is the lot currently?
            </ion-label>
            <ion-row>
              <ion-col>
                <ion-range (ionChange)="onIonChange($event)" [pin]="true" [pinFormatter]="pinFormatter" color='muteblue'>
                </ion-range>
                <ion-label>ionChange emitted value: {{ lastEmittedValue }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-button color='muteblue' type="submit" (click)="presentAlert()">Submit</ion-button>
            <p>{{ handlerMessage }}</p>
          </form>
        </ion-col>
        <ion-button color='muteblue' type="submit" (click)="getDocData()">Submit</ion-button>

      </ion-row>
    </ion-grid>
  </ion-card>
  
 
</ion-content>
