

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-label class="ion-text-wrap">      
        Help us provide the most accurate data possible, how full is the lot currently?
      </ion-label>
      </ion-row>
      <ion-row>
        <ion-range (ionChange)="onIonChange($event)" [pin]="true" [pinFormatter]="pinFormatter" color='muteblue'></ion-range>
      </ion-row>
      <ion-row>
        <ion-button color='muteblue' type="submit" (click)="confirm()">Submit</ion-button>
        <p>{{ handlerMessage }}</p>
      </ion-row>
  </ion-grid>
</ion-content>
