<ion-header>
  <ion-toolbar>
    <ion-title>
      Submit Page
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="tertiary">
          <h3> {{myLot}} is currently ___% full</h3>
        </ion-text> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form>
          <ion-label>      
              Help us provide the most accurate data possible, how full is the lot currently?
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-range [pin]="true" [pinFormatter]="pinFormatter">
              </ion-range>
            </ion-col>
          </ion-row>
          <ion-button type="submit" (click)="presentAlert()">Submit</ion-button>
          <p>{{ handlerMessage }}</p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
