<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1 test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>Hicks Lot</ion-card-title>
    <ion-card-title>70%</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    test test test test test test test test test
  </ion-card-content>
</ion-card>



  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
