<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Parking
    </ion-title>
    <ion-buttons slot="end">
      <ion-item>
        <ion-select
        [compareWith]="compareWith"
        placeholder="Sort by Type"
        (ionChange)="handleChange($event)"
        [multiple]="true">
          <ion-select-option value="Visitor">Visitor</ion-select-option>
          <ion-select-option value="Employee">Employee</ion-select-option>
          <ion-select-option value="Overnight">Overnight</ion-select-option>
          <ion-select-option value="Student">Student</ion-select-option>
          <ion-select-option value="Street">Street Parking</ion-select-option>
          <ion-select-option value="Lot">Lot Parking</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Parking</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2" *ngFor="let lot of lotData" >
        <div>
            <div button [routerLink]="['lots/{{lot.name}}']">
              {{lot.name}}
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
