
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{myLot}} 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Capacity: {{avg | number: '1.0-0'}}%</ion-card-title>
          <ion-card-subtitle>{{myLot}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
      <ion-progress-bar [color] = 'color' [value] = 'p_bar_value'></ion-progress-bar>
        </ion-card-content>
        <ion-card-content>
        <ion-card-subtitle>Total Spots: {{cap}}</ion-card-subtitle>
        <ion-card-subtitle>Tags: {{tags}}</ion-card-subtitle>
        <ion-card-subtitle>Last Updated at: {{lastUpdated | date: 'hh:mm a'}}</ion-card-subtitle>
      </ion-card-content>
      </ion-card>
      <ion-button fill="clear" expand="block" (click)="openModal()" color="warning"> Submit Data</ion-button>

      <ion-card>
      <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="detail-report">
          <ion-item slot="header" color="light">
            <ion-label>View Detailed Report</ion-label>
          </ion-item>
              <ul slot="content" *ngFor="let entry of todays_entries">
              <li>
                {{entry.fill}}%, Submitted at {{entry.datetime | date: 'hh:mm a'}}
              </li>
            </ul>
        </ion-accordion>
        <ion-accordion value="map">
          <ion-item slot="header" color="light">
            <ion-label>View on Map</ion-label>
          </ion-item>
            <div class ="ion-padding" slot="content">
              <img src="../assets/map.png">
            </div>          
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
  
</ion-content>
