
<ion-header>
  <ion-toolbar>
    <ion-title>
      {{myLot}} 
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Capacity: {{ave}}%</ion-card-title>
          <ion-card-subtitle>{{myLot}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
      <ion-progress-bar [value] = 'p_bar_value'></ion-progress-bar>
    </ion-card-content>
    <ion-button fill="clear" expand="block" (click)="openModal()"> Improve Acuraccy</ion-button>
  </ion-card>
</ion-content>
